# MongoDB
MONGO_ROOT_USERNAME=ignition
MONGO_ROOT_PASSWORD=CHANGE_ME
MONGO_DATABASE=brewery

# Ignition Gateways
IGNITION_ADMIN_USERNAME=admin
IGNITION_ADMIN_PASSWORD=CHANGE_ME

# Mongo Express
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=CHANGE_ME

# Timezone
TZ=America/Sao_Paulo
